{{ partial "header.html" . }}

<section id=content>
  {{ if .Param "social" }}
  <p class="social-icons">
  {{- range $nav := $.Site.Data.social }}
  <a href="{{ $nav.link }}" target="_blank"><i class="fa fa-{{ $nav.icon }}" aria-hidden="true"></i></a>
  {{- end -}}
  </p>
  {{ end }}

  <h1>{{ if .Params.heading }} {{ .Params.heading }} {{ else }} {{ .Title }} {{ end }}</h1>
  {{ if .Params.date }}
    <div id=sub-header>
      {{ .Date.Format (.Site.Params.dateform | default "January 2006") }} · {{ .ReadingTime }} minute read
    </div>
  {{ end }}

  {{ if .Param "image" }}
  <div class="thumbnail-container">
      <a href="{{ .RelPermalink}}">
          <img src="{{ (printf "%s%s" "/img/" (.Param "image")) | relURL }}">
      </a>
  </div>
  {{ end }}

  <div class="entry-content">
    {{ .Content }}
  </div>

  {{ if eq .Section "post" }}
  {{ partial "social-sharing.html" }}
  <div style="margin-bottom: 20px;">
      {{ partial "buymeacoffee.html" }}
  </div>
  <div id=links>
    {{ if .PrevInSection }}
      <a class="basic-alignment left" href="{{.PrevInSection.Permalink}}">&laquo; {{.PrevInSection.Title}}</a>
    {{ end }}
    {{ if .NextInSection }}
      <a class="basic-alignment left" href="{{.NextInSection.Permalink}}">{{.NextInSection.Title}} &raquo;</a>
    {{ end }}
  </div>

  {{ if $.Site.Params.disqus_comments }}
  {{ partial "disqus.html" }}
  {{ end }}
  {{ end }}
</section>

{{ partial "footer.html" . }}

